:root {
    --primary-color: #0c79b8;
    --secondary-color: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgba(139, 135, 135, 0.8);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--secondary-color);
}

/* HEADER / FOOTER STYLES */

header,
footer {
    padding: 20px 0px 10px 0px;
    background-color: var(--secondary-color);
    justify-content: space-between;
    display: flex;
    z-index: 1;
    
}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

header h1,
footer h1 {
    font-weight: bolder;
    font-size: 36px;
    color: var(--primary-color);
}

header a,
footer a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav,
footer nav {
    margin: 7px 0;
}

header nav ul,
footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a,
footer nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.55vw;
}

/* HEADER / FOOTER STYLES END */

/* HERO STYLE BEGINS */

.hero {
    display: flex;
    position: relative;
    justify-content: left;
    flex-wrap: wrap;
    background-image: url(../images/Technology-003.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.hero h4 {
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, .6);
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}

.hero img {
    display: block;
    margin: 0px;
    max-width: 230px;
}

.container {
    border: solid 1px #0000;
}

.quote {
    position: absolute;
    bottom: 0;
    right: 0;  
}

/* HERO STYLE ENDS */

/* ABOUT ME / PROJECT STYLES BEGIN */


.border {
    border-style: solid;
    border-width: 5px;
    border-color: var(--primary-color);
}

.highlight:hover {
    opacity: .5;
}

.float-left {
    float: left;
    margin: 25px;
}

.float-right {
    float: right;
    margin: 25px
}

.left {
    width: 25%;
    float: left;
    margin-bottom: 20px;
    height: 300px;
    font-size: 36px;
}

.right  {
    width: 75%;
    float: left;
    margin-bottom: 20px;
    font-size: 30px;
    border-left: 5px solid var(--primary-color);
}

.clear {
    clear: both;
    font-size: 0px;
    height: 0px;
    line-height: 0px;
    margin: 0px;
    padding: 0px;
}

/* ABOUT ME / PROJECT STYLE ENDS */

/* MEDIA QUERY FOR SMALLER SCREENS */

@media screen and (max-width: 980px) {
   header,
   footer {
       font-weight: bold;
       margin: 0;
       font-size: 5vw;
       color: var(--primary-color);
   }  
   
   .hero {
    flex-wrap: wrap;   
    text-align: right;
    line-height: 1.3;
   }

   .hero div{
    font-size: 1vw;
   }

   .projects a {
       height: 100%;
       width: 100%;
   }
}   

@media screen and (max-width: 960px) {

   .projects {
       margin-bottom: 10px;
       font-size: inherit;
   }

   .hero div{
    font-size: 1vw;
   }
   
    .left {
    width: 100%;
    height: 100%;
    text-align: justify;
    font-size: 5vw;
    border-bottom: 5px solid var(--primary-color);
   }

    .right  {
    width: 100%;
    text-align: justify;
    font-size: 5vw;
    border-left: transparent;
   }
} 

@media screen and (max-width: 625px) {
  html {
      zoom: 50%
  }  
}
@media screen and (max-width: 312px) {
    html {
        zoom: 75%
    }
}