:root {
    --primary-color: #ba0909;
    --secondary-color: #3236a8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(50, 54, 168, 0.9);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* HEADER / NAV STYLES */

header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* HEADER / NAV STYLES END */

/* FOOTER STYLES BEGINS */

footer {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
}

footer h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
}

footer a {
    text-decoration: none;
    color: var(--primary-color);
}

footer nav {
    margin: 7px 0;
}

footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer nav ul li a {
    padding: 10px 15px;
    font-weight: bolder;
    font-size: 1.55vw;
}    

/* FOOTER STYLES ENDS */

/* MEDIA QUERY FOR SMALLER SCREENS */

@media screen and (max-width: 980px) {
    header,
    footer {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1,
    footer h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul,
    footer nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a,
    footer nav ul li a {
      font-size: 20px;
    }

}    